*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
    display: flex;
    justify-content: space-around;
}
.form-group {
	max-width: 600px;
	margin: 20px;
}

.btn {
	margin: 10px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.home {
	min-height: 100vh;
	background-image: url(../images/home-bgrnd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.home__content {
	min-width: 100vw;
	background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0))  ;
	display: flex;
	align-items: center;
}

.home__sub--content {
	margin-left: 10vw;
}

.home__sub--content h1 {
	font-size: 5rem;
}

.content {
	padding: 10vh 0;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 80vw;
}

.footer {
	text-align: center;
	width: 100%;
	height: 60px;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
}
